.header {
  width:100%;
  background: $bg-color;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  z-index:10;

  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;

    @media(max-width:$breakpoint-medium){
      flex-wrap:wrap;
      justify-content:center;
    }
  }
}
