.header {
  width: 100%;
  background: $bg-color;
  padding: 1em 1em 0;
  display: flex;
  flex-wrap: wrap;
  z-index: 10;

  &__main {
    max-width: 90%;
    min-height: 12vh;
    display: flex;
    align-items: center;
    margin: 1em auto;

    @media (max-width: $breakpoint-small) {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
  }
}
