.agenda,
.news {
  border: 1px solid $white;
  margin-bottom: 3em;
  padding: 0.4em;
  transition: 1s ease-in-out;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 10;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to right, transparentize($black, 0), transparentize($black, 1));
    z-index: -1;
  }
 

  &__title {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.2rem;
  }

  &__date {
    font-size: 0.95rem;
    &::after {
      content: "";
      display: block;
      margin: auto;
      width: 30%;
      border-bottom: 0.5px solid $white;
      padding-top: 0.5em;
    }
  }

  &__about {
    font-weight: 300;
    font-style: italic;
  }

  &:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    // background: $white;
    // color: $color-text-alt;
  }

  a {
    color: $white;
    transition: 1s ease-in-out;

    &:hover {
      color: $white;
    }
  }
}
