.main-nav {
  @media (max-width: $breakpoint-extra-large) {
    display: none;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    @media (max-width: $breakpoint-large) {
      display: block;
    }
    &__item {
      padding: 0 1em;
      a {
        color: $color-text;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.1em;
        transition: 0.5s ease-in-out;

        &:hover {
          opacity: 0.4;
        }
      }

      i {
        color: $white;
        font-size: 1.5rem;
      }

     

      &.is-search-form-toggler {
      }

      &.is-search-form{
        display:none;
        text-align:center;
        transition: 0.5s ease-in-out;
      }
    }
  }
}
