.logo {
  display: inline-block;
  background: $white;
  padding: 0.5em;
  // margin: 1em auto;

  @media (max-width: $breakpoint-small) {
    padding: 0.3em;
    max-width: 70%;
    margin: 0em auto;
    display: inline;
  }

  &__title {
    color: darken($bg-color, 70%);
    font-family: $font-family-logo;
    font-size: 4rem;

    @media (max-width: $breakpoint-small) {
      font-size: 2.4rem;
    }
  }
  &__subtitle {
    color: darken($bg-color, 70%);
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.1rem;

    @media (max-width: $breakpoint-critical) {
      display: none;
    }

    @media (max-width: $breakpoint-small) {
      line-height: 0;
      font-size: 0.6rem;
    }
  }
}
