.main-nav { 
  @media(max-width:$breakpoint-medium){
   text-align:center;
  } 
  &__list {
    display: flex; 
    justify-content:space-between;  
    @media(max-width:$breakpoint-medium){
      display:block;
    } 
    &__item {
        padding:0 1em;
      a {
        color: $color-text;
        text-transform: uppercase;
        font-weight:bold;
        font-size:0.9em;
      }
    }
  }
}
