.social-nav {
  width: 100%;
  transition: 1s ease-in-out;
  .footer {
    margin: 0;
    @media (max-width: $breakpoint-medium) {
      text-align: center;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    &.footer {
      padding: 0;

      @media (max-width: $breakpoint-medium) {
        display: block;
      }
    }
    &__item {
      margin: 0 1em 0 1em;
      i {
        font-size: 1.5rem;
        color: $color-text;
      }
      &.footer {
        i {
          font-size: 3rem;

          @media (max-width: $breakpoint-large) {
            font-size: 1.5rem;
          }

          @media (max-width: $breakpoint-medium) {
            font-size: 3rem;
          }
        }
      }
    }
  }
  @media(max-width:$breakpoint-critical){
    display:none;
  }
}
