.banner {
  width: 100%;
  margin-bottom: 1em;
  line-height: 1.3em;
  text-align:center;
  &__title {
    color: $red;
    font-weight: bold;
    font-size: 2rem;
  }

  &__description {
    font-weight: 500;
  }

  &__info {
    font-size: 1.2rem;
    text-align:center;

    span {
      background: $red;
      padding: 0 0.4em;
      color: $white;
      font-weight: bold;

      @media (max-width: $breakpoint-large) {
        display: inline-block;
      }
    }
  }

  &__detail {
    a {
      color: $white;

      i {
        font-size: 0.5em;
      }
    }
  }

  @media (max-width: $breakpoint-extra-large) {
    padding: 0 1em;
  }
}
