.header {
  width: 100%;
  background: $bg-color;
  padding: 1em 1em 0;
  display: flex;
  flex-wrap: wrap;
  z-index:30;
  position: -webkit-sticky;
  position: sticky;

  &__main {
    min-width: 90%;
    min-height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em auto;

    @media (max-width: $breakpoint-small) {
      display: flex;
      justify-content: space-between;
      align-content: center;
      margin: 0;
      width: 100%;
    }

    @media (orientation: landscape) and (max-width: $breakpoint-extra-large) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: center;
    }
  }

  //defining header's behavior when orientation:landscape
  @media (orientation: landscape) and (max-width: $breakpoint-extra-large) {
    position: fixed;
    top: 0;
    right: 0;
    width: 20vw;
    height: 100vh;
    padding: 0;

    .social-nav {
      display: none;
    }
    .logo {
      display: block;
      width:100%;
    }
    .main-nav {
      text-align: center;
    }
  }
}
