.posts {
  width: 75%;
  @media (max-width: $breakpoint-extra-large) {
    width: 100%;
  }

  .post {
    &__image {
      background-size: cover;
      background-position: bottom center;
      width: 100%;
      height: 55vh;
      position: relative;

      @media (orientation: landscape) and (max-height: $breakpoint-large) {
        height: 130vh;
      }

      @media (max-width: $breakpoint-medium) {
        height: 90vh;
      }

      @media (max-width: $breakpoint-medium) and (max-height: $breakpoint-large) {
        height: 110vh;
      }

      &:hover,
      &:active {
        .post__content {
          display: block;
          transition: opacity 1s, ease-in-out;
          animation-duration: 0.5s;
          animation-name: slidein;
          transition: slidein, 1s, ease-in-out; 

          &:hover{
            background: $white;
            animation-name: slidein2;
            animation-duration: 0.5s;
            // transition: 1s background ease-in-out;
          }
        }
      }
    }

    &__content {
      display: none;
      width: 48%;
      max-height: 90%;
      // background: $white;
      background: linear-gradient(transparentize($white, 0), transparentize($white, 0.85));
      filter: opacity(0.8);
      color: $color-text-alt;
      padding: 1em;
      position: absolute;
      top: 1em;
      right: 1em;
      transition: 0.5s display ease-in-out;

      @media (orientation: landscape) and (max-height: $breakpoint-large) {
        display: inline-block;
        width: 37%;
        height: 88%;
        position: absolute;
        bottom: 1em;
        left: 1em;
      }

      @media (max-width: $breakpoint-large) {
        display: inline-block;
        width: 40%;
        max-height: 80%;
        position: absolute;
        bottom: 1em;
        right: 1em;
      }

      @media (max-width: $breakpoint-medium) and (max-height: $breakpoint-large) {
        display: inline-block;
        width: 70%;
        max-height: 75%;
        position: absolute;
        bottom: 1em;
        right: 1em;
      }

      @media (max-width: $breakpoint-medium) {
        display: inline-block;
        width: 64%;
        max-height: 40%;
        position: absolute;
        bottom: 1em;
        right: 1em;
      }

      @media (max-width: $breakpoint-small) {
        display: inline-block;
        width: 85%;
        max-height: 65%;
        position: absolute;
        bottom: 1em;
        right: 1em;
      }

      &__about {
        font-size: 0.9rem;
      }
      &__title {
        font-weight: bold;
      }
      &__excerpt {
        color: lighten($color-text-alt, 20%);
      }
      &__button {
        border: 2px solid lighten($bg-color, 35%);
        padding: 0.4em 0.2em;

        &:hover,
        &:active {
          opacity: 1;
          background: $white;
        }
      }
    }
  }
}
