.post {
  width: 75%;
  @media (max-width: $breakpoint-extra-large) {
    width: 100%;
    padding: 1em;
  }
  &__title {
    font-size: 3rem;
    margin-bottom: 0.3em;
  }

  &__infos {
    font-weight: 200;
    font-size: 0.8rem;
    margin-bottom: 1em;
  }

  &__picture {
    display:block;
    width: 100%;
    // min-height: 85vh;
    // background-size: cover;
    // background-position: center;
    background-repeat: no-repeat;
  }

  &__content {
    margin-top: 1em;

    &__about {
      background: $bg-color;
      padding: 0.2em 1em;
      color: $white;
      margin-bottom: 0.2em;
    }
  }
}
