.page {
  &__title {
    display: block;
    width: 100%;
  }

  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;

    h3{
      display:block;
      width:100%;
    }

    p{
      display:block;
      width:100%;
    }
   
    .contact-info__part {
    
      width: calc(30%);
      margin:0 auto;

      @media(max-width:$breakpoint-medium){
        width:100%;
      }
    }
  }
}
